* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

button {
    font-size: 15px;
    padding: 7px 16px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: red;
    color: #fff;
}

button:hover {
    color: red;
    background: #fff;
    border: 5px solid rgba(255, 52, 52, 0.3);
}